<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.name %></h1>
<p>
  It's 4pm.
</p>
<p>
  Please login to Andela Grub to create meal options for tomorrow.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for using Grub and have a great day!</p>

<strong>This Is Andela!</strong>
</body>
</html>