// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-for-today {
  height: 50vh;
  background-color: whitesmoke;
  color: #333;
  border-radius: 0.3em;
  border-top: solid 2em #776b5e;
  box-shadow:  0 1px 1px #333;
  margin: 0 1em 1em 2em;
  padding: 0.5em 2em;
}